.App {
  text-align: center;
  
}

.home-page {
  background: rgb(255,0,0);
  background: linear-gradient(145deg, rgba(255,0,0,1) 0%, rgba(102,0,255,1) 100%);
}

.home-page .search-bar {
  margin-top: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.input-box {
  outline: none;
  border: none;
  background: transparent;
  border-bottom: 2px solid black;
  margin-right: 15px;
  font-size: 20px;
  margin-top: 5px;
}

.submit-btn {
  font-size: 20px;
  border: none;
  outline: none;
  padding: 2px 5px;
  border-radius: 15px;
  background: black;
  color: white;
  cursor: pointer;
}

.page-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.page-results h3 {
  font-size: 30px;
  margin-bottom: -20px;
}

.page-results p {
  margin-bottom: -5px;
}

.page-results img {
  display: flex;
  max-width: 300px;
}

.search-head {
  background: black;
  color: white;
  width: 100%;
}

.add-btn {
  border: none;
  outline: none;
  background: black;
  color: white;
  padding: 5px 5px;
  border-radius: 15px;
  cursor: pointer;
  width: 150px;
  margin-top: 10px;
}

.add-btn:hover {
  color: red;
}

.navbar {
  width: 100%;
  background: transparent;
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  outline: none;
  background: black;
  color: white;
}

.navbar .links {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  width: 50%;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar h3{
  display: flex;
  background: red;
  padding: 5px 10px;
  border-radius: 15px;
  color: white;
  justify-content: space-around;
}

.navbar h3:hover {
  background: white;
  color: black;
}

.gameList-page {
  margin-top: -21px;
  width: 100%;
  min-height: 100vh;
  display: block;
  background: rgb(255,0,0);
  background: linear-gradient(145deg, rgba(255,0,0,1) 0%, rgba(102,0,255,1) 100%);
}

.gameList-page .playedGame {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  height: 100px;
}

.remove-btn {
  background: transparent;
  border: none;
  outline: none;
  font-size: 36px;
  cursor: pointer;
}

.remove-btn:hover {
  color: red;
}

